<div class="content-box mrg25B">
    <h3 class="content-box-header bg-blue text-left">
        <i class="glyph-icon icon-comments"></i>
        To do list
    </h3>
    <div class="content-box-wrapper">
        <div class="panel-body">
            <div class="example-box-wrapper">
                <ul class="todo-box">
                    <% config.forEach( function(item, index){ %>
                            <% if(item.category === 'Thesis'){ %>
                                <li class="border-red <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-red">
                            <% } else if(item.category === 'Travel') {%>
                                <li class="border-blue-alt <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-blue-alt">
                            <% } else if(item.category === 'Job') {%>
                                <li class="border-purple <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-purple">
                            <% } else if(item.category === 'Body') {%>
                                <li class="border-orange <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-orange">
                            <% } else if(item.category === 'Technology') {%>
                                <li class="border-yellow <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-yellow">
                            <% } else if(item.category === 'Blog') {%>
                                <li class="border-azure <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-azure">
                            <% } else if(item.category === 'Life') {%>
                                <li class="border-green <%= item.state %> ">
                                    <label><%= item.description %></label>
                                    <span class="bs-label bg-green">
                            <% } %>

                                <%= item.category%>
                            </span>
                            <a href="#" class="btn btn-xs btn-danger float-right" title="">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            <a href="#" class="btn btn-xs btn-success float-right" title="">
                                <i class="glyph-icon icon-check"></i>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>